<sly data-sly-use.model="com.example.aem.portfolio.core.models.RadioSlider"/>
<div id="${model.id}" class="cmp-radio-slider" data-default-value="${model.defaultValue}">
    <span>${model.minLabel}</span>
    <label><input type="radio" name="${model.name}" value="1">1</label>
    <label><input type="radio" name="${model.name}" value="2">2</label>
    <label><input type="radio" name="${model.name}" value="3">3</label>
    <label><input type="radio" name="${model.name}" value="4">4</label>
    <span>${model.maxLabel}</span>
</div>
